In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [2]:
import nltk
nltk.download("punkt")
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Error with downloaded zip file
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
f = open("data.txt", "r")
text = f.read()

In [4]:
text[:1000]

"The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.  You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]\n\n\n\n\n\n\nMAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.\n\n\n\n\nILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGROSSET & DUNLAP\n\nPUBLISHERS -------- NEW YORK\n\n\n\n\nCOPYRIGHT, 1920, BY\n\nCHARLES SCRIBNER'S SONS\n\n\nPublished October, 1920\n\n\n\n\nCONTENTS\n\n\nCHAPTER\n\n     I. STEVE DIVES INTO DEEP WATERS\n    II. MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n "

In [5]:
a=text.split()

In [6]:
len(a)

78078

In [7]:
b=text.split("\n")

In [8]:
len(b)

9770

In [9]:
b[:3]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory',
 '',
 'This eBook is for the use of anyone anywhere at no cost and with']

In [10]:
sent_tokens = sent_tokenize(text)

In [11]:
len(sent_tokens)

5560

In [12]:
sent_tokens[:3]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.',
 'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]',
 'MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.']

In [13]:
df = pd.DataFrame({"sentences":sent_tokens})

In [14]:
df.head()

                                           sentences
0  The Project Gutenberg EBook of Man to Man, by ...
1  You may copy it, give it away or\nre-use it un...
2  MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...
3  ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...
4     MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n   III.

In [15]:
df.shape

(5560, 1)

In [19]:
stop_words = stopwords.words('english')
lem = WordNetLemmatizer()

In [21]:
def cleaning(data):
    #1.tokenize
    text_tokens =word_tokenize(data.lower())
    #2. Remove Puncs
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    #3. Removing stopwords
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    #4. Lemma 
    text_cleaned = [lem.lemmatize(t) for t in tokens_without_sw]
     # joining
    return ' '.join(text_cleaned)

In [22]:
df["sentences_2"] = df["sentences"].apply(cleaning)

In [23]:
df.head()

,sentences,sentences_2
0,"The Project Gutenberg EBook of Man to Man, by ...",project gutenberg ebook man man jackson gregor...
1,"You may copy it, give it away or\nre-use it un...",may copy give away term project gutenberg lice...
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,man man jackson gregory author judith blue lak...
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,illustrated shepherd grosset dunlap publisher ...
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,miss blue cloak know beat iii

In [24]:
df.sentences[0]

'The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.'

In [25]:
df.sentences_2[0]

'project gutenberg ebook man man jackson gregory ebook use anyone anywhere cost almost restriction whatsoever'

In [26]:
df.sentences[1]

'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]'

In [27]:
df.sentences_2[1]

'may copy give away term project gutenberg license included ebook online title man man author jackson gregory release date july ebook language english start project gutenberg ebook man man produced al haines frontispiece blazing heat men horse steer suffered terribly'

In [28]:
df["sentences_3"]=df.sentences_2.apply(lambda x: x.split())

In [29]:
df.head()

,sentences,sentences_2,sentences_3
0,"The Project Gutenberg EBook of Man to Man, by ...",project gutenberg ebook man man jackson gregor...,"[project, gutenberg, ebook, man, man, jackson,..."
1,"You may copy it, give it away or\nre-use it un...",may copy give away term project gutenberg lice...,"[may, copy, give, away, term, project, gutenbe..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,man man jackson gregory author judith blue lak...,"[man, man, jackson, gregory, author, judith, b..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,illustrated shepherd grosset dunlap publisher ...,"[illustrated, shepherd, grosset, dunlap, publi..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,miss blue cloak know beat iii,"[miss, blue, cloak, know, beat, iii]"

In [30]:
df['sentences_4']=df.sentences_3.apply(lambda x: nltk.pos_tag(x))

In [31]:
df.head()

,sentences,sentences_2,sentences_3,sentences_4
0,"The Project Gutenberg EBook of Man to Man, by ...",project gutenberg ebook man man jackson gregor...,"[project, gutenberg, ebook, man, man, jackson,...","[(project, NN), (gutenberg, NN), (ebook, NN), ..."
1,"You may copy it, give it away or\nre-use it un...",may copy give away term project gutenberg lice...,"[may, copy, give, away, term, project, gutenbe...","[(may, MD), (copy, VB), (give, VB), (away, RP)..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,man man jackson gregory author judith blue lak...,"[man, man, jackson, gregory, author, judith, b...","[(man, NN), (man, NN), (jackson, NN), (gregory..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,illustrated shepherd grosset dunlap publisher ...,"[illustrated, shepherd, grosset, dunlap, publi...","[(illustrated, VBN), (shepherd, JJ), (grosset,..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,miss blue cloak know beat iii,"[miss, blue, cloak, know, beat, iii]","[(miss, JJ), (blue, JJ), (cloak, NN), (know, V..."

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [44]:
X_train = df["sentences_2"]

In [45]:
vectorizer = CountVectorizer()

In [46]:
vectorizer.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [47]:
len(vectorizer.get_feature_names())

5974

In [42]:
vectorizer.get_feature_names()[:5]

['aback', 'abandoned', 'abide', 'abiding', 'ability']

In [48]:
X_train_count = vectorizer.transform(X_train)

In [49]:
a = pd.DataFrame(X_train_count.toarray())

In [50]:
a.head()

,0,1,2,3,4,5,6,7,8,9,...,5964,5965,5966,5967,5968,5969,5970,5971,5972,5973
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
a.shape

(5560, 5974)

In [54]:
pd.set_option("display.max_columns",50)

In [56]:
tf_idf_vectorizer= TfidfVectorizer()

In [57]:
tf_idf_vectorizer.fit(X_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [58]:
X_train_tf_idf = tf_idf_vectorizer.transform(X_train)

In [59]:
b = pd.DataFrame(X_train_tf_idf.toarray(),columns = vectorizer.get_feature_names() )

In [60]:
b

,aback,abandoned,abide,abiding,ability,able,aboard,abreast,abrupt,abruptly,abruptness,absence,absent,absently,absolute,absolutely,abstraction,absurd,abundant,accelerator,accept,accepted,accepting,access,accessed,...,yawning,year,yearning,yeee,yell,yelled,yellin,yelling,yellow,yes,yessir,yesterday,yet,yets,yield,yielded,yielding,yonder,york,young,youngest,yourse,youth,youthful,zest
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.242012,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5555,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.256802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5557,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
b.sum().sort_values(ascending = False)

blenham         128.360228
steve           125.768268
packard         120.199328
terry           107.707614
said             96.127514
                   ...
occur             0.141176
alteration        0.141176
modification      0.141176
harmless          0.141176
arise             0.141176
Length: 5974, dtype: float64